[user]
    name = Martin Marconcini
    email = marconcini@gmail.com
[core]
    quotepath = false
    excludesfile = /Users/martin/.gitignore
    editor = vim

[mergetool]
    keepBackup = false
    prompt = false

### Set up Meld for Diff Display (Linux)
[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[diff]
    tool = meld

### Set up Meld for Merge Conflict Resolution (Linux)
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[merge]
    tool = meld

[push]
        default = current

[alias]
  tagcommit = !sh -c 'git rev-list $0 | head -n 1'
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        st = status
        br = branch
        df = diff
        co = checkout
        p = pull
        dff = difftool HEAD
        hide = update-index --assume-unchanged
        unhide = update-index --no-assume-unchanged
        hidden = !sh -c 'git ls-files -v|grep "^h"'
        #sync = !sh -c 'git checkout --quiet HEAD && git fetch origin develop:develop && git checkout --quiet - '
	mst = stash save -u --keep-index
[color]
        ui = auto
[rerere]
        enabled = 1
        autoupdate = true
